*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    height: 50px;
}

nav .logo img{
    width: 70px;
    cursor: pointer;
    margin: 7px 0;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

nav nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

nav nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover{
    color: #fac031;
}

nav .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

nav .icon i:hover{
    color: #fac031;
}

nav .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}
